[Desktop Entry]
Type=Application
Name=ROX File Search
Name[ar]=بحث ملفات ROX
Name[ca]=Cerca de fitxers ROX
Name[de]=ROX-Dateisuche
Name[es]=Buscador de archivos ROX
Name[fr]=Recherche de fichiers ROX
Name[hu]=ROX fájlkereső
Name[it]=Ricerca file ROX
Name[ja]=ROX ファイル検索
Name[pt]=Pesquisa de ficheiros ROX
Name[ru]=Поиск файлов ROX
Name[zh_CN]=ROX 文件搜索
Name[zh_TW]=ROX 檔案搜尋
Comment=Search for files and folders
Comment[ar]=البحث عن الملفات والمجلدات
Comment[ca]=Cerca fitxers i carpetes
Comment[de]=Dateien und Ordner suchen
Comment[es]=Buscar archivos y carpetas
Comment[fr]=Rechercher des fichiers et des dossiers
Comment[hu]=Fájlok és mappák keresése
Comment[it]=Cerca file e cartelle
Comment[ja]=ファイルとフォルダーを検索
Comment[pt]=Pesquisar ficheiros e pastas
Comment[ru]=Поиск файлов и папок
Comment[zh_CN]=搜索文件和文件夹
Comment[zh_TW]=搜尋檔案與資料夾
Exec=rox-find
Icon=/usr/share/pixmaps/rox-find.svg
Terminal=false
Categories=Utility;FileTools;FileManager;GTK;
StartupNotify=true
Keywords=search;find;files;folders;ROX;
Keywords[es]=buscar;encontrar;archivos;carpetas;ROX;
