[Desktop Entry]
Type=Application
Name=Rox-Filer2 Wallpaper
Name[ar]=خلفية سطح مكتب ROX
Name[es]=Fondo de escritorio de ROX
Name[ca]=Fons d'escriptori de ROX
Name[fr]=Fond d’écran ROX
Name[it]=Sfondo del desktop ROX
Name[pt]=Papel de parede do ROX
Name[hu]=ROX asztali háttérkép
Name[ja]=ROX デスクトップの壁紙
Name[ru]=Обои рабочего стола ROX
Name[zh_CN]=ROX 桌面壁纸
Comment=Change the Rox-Filer2 Desktop wallpaper
Comment[ar]=تغيير خلفية سطح مكتب ROX
Comment[es]=Cambiar el fondo de escritorio de ROX
Comment[ca]=Canvia el fons d'escriptori de ROX
Comment[fr]=Changer le fond d’écran du bureau ROX
Comment[it]=Cambia lo sfondo del desktop ROX
Comment[pt]=Alterar o papel de parede do Rox-Filer2 Desktop
Comment[hu]=A ROX asztali háttérképének módosítása
Comment[ja]=ROX デスクトップの壁紙を変更
Comment[ru]=Изменить обои рабочего стола ROX
Comment[zh_CN]=更改 ROX 桌面壁纸
Exec=/usr/local/bin/roxfiler --desktop-wallpaper
Icon=/usr/share/pixmaps/rox-desktop-wallpaper.svg
Terminal=false
Categories=Settings;DesktopSettings;
StartupNotify=true
