[Desktop Entry]
Encoding=UTF-8
Name=Rox-Filer2
Icon=/usr/share/pixmaps/Rox-Filer2.svg
Comment=Lightweight X11 and Wayland file manager
Exec=/usr/local/bin/roxfiler
Terminal=false
Type=Application
Categories=System;FileTools;FileManager;Utility;
GenericName=File manager
