[Desktop Entry]
Type=Application
Name=Rox-Filer2 Desktop Apps
Name[ar]=تطبيقات سطح مكتب ROX
Name[es]=Aplicaciones del escritorio ROX
Name[ca]=Aplicacions de l’escriptori ROX
Name[fr]=Applications du bureau ROX
Name[it]=Applicazioni del desktop ROX
Name[pt]=Aplicações do ambiente de trabalho ROX
Name[hu]=ROX asztali alkalmazások
Name[ja]=ROX デスクトップアプリ
Name[ru]=Приложения рабочего стола ROX
Name[zh_CN]=ROX 桌面应用程序
Comment=Manage applications shown on the Rox-Filer2 Desktop
Comment[ar]=إدارة التطبيقات المعروضة على سطح مكتب ROX
Comment[es]=Administrar las aplicaciones mostradas en el escritorio ROX
Comment[ca]=Gestiona les aplicacions mostrades a l’escriptori ROX
Comment[fr]=Gérer les applications affichées sur le bureau ROX
Comment[it]=Gestisce le applicazioni mostrate sul desktop ROX
Comment[pt]=Gerir as aplicações mostradas no ambiente de trabalho ROX
Comment[hu]=A ROX asztalon megjelenő alkalmazások kezelése
Comment[ja]=ROX デスクトップに表示するアプリを管理
Comment[ru]=Управление приложениями на рабочем столе ROX
Comment[zh_CN]=管理显示在 ROX 桌面上的应用程序
Exec=/usr/local/bin/roxfiler --desktop-apps
Icon=/usr/share/pixmaps/roxfiler2-desktop-apps-icon.svg
Terminal=false
Categories=Settings;DesktopSettings;
StartupNotify=true
